@charset "UTF-8";
body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: left;
    color: #222;
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.add-btn {
    background: #0a8a25;
    color: white;
    margin-bottom: 20px;
}

.add-btn:hover {
    background: #066b1c;
}

.table-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

th {
    background: #1e90ff;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

tr:hover {
    background: #f0f8ff;
}

.delete-btn {
    background: #ff2e2e;
    color: white;
}

.delete-btn:hover {
    background: #c70000;
}

.update-btn {
    background: #ff9900;
    color: black;
}

.update-btn:hover {
    background: #cc7a00;
}

.error-message {
    color: red;
    font-size: 18px;
    font-weight: bold;
}
