<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Update Student</title>
</head>
<body>

<h1>Update Student</h1>

<p class="error-message" th:text="${error}"></p>

<form action="/students/update" method="post">

    <input type="hidden" name="id" th:value="${student.id}" />

    Roll No:<br>
    <input type="number" name="rollNo" th:value="${student.rollNo}">
    <br><br>

    Name:<br>
    <input type="text" name="name" th:value="${student.name}">
    <br><br>

    Branch:<br>
    <input type="text" name="branch" th:value="${student.branch}">
    <br><br>

    <button class="update-btn">Update Student</button>
</form>

<br>
<a href="/students"><button class="add-btn">Back to List</button></a>

</body>
</html>
